body{
    font-family: sans-serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
}
nav{
    background-image: url('../../pictures/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    padding: 0;
}
nav ul{
    display: flex;
}
ul li{
    list-style: none;
}
h3, ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0 15px 0 15px;
    margin: 0;
    cursor: pointer;
}
.hobbies{
    color: blue;
}




.container{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.item{
    width: 20%;
}
.head{
    height: 25vh;
    margin-bottom: 10px;
    background: gray;
    border-radius: 15px;

}
.body{
    height: 50vh;
    background: aqua;
}















footer{
    background-image: url('../../pictures/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    margin-top: 50px;
}
.foot_container{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}
.footer_icon ul{
    display: flex;
    justify-content: center;
}
.footer_icon ul li{
    list-style-type: none;
}
.footer_icon ul li a i{
    font-size: 40px;
    padding: 0 0 30px 0;
}
.footer-nav ul{
    text-align: center;
    padding-bottom: 10px;
}