*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
nav{
    background-image: url('../../pictures/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    padding: 10px;
}
nav ul{
    display: flex;
}
ul li{
    list-style: none;
}
h3, ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0 15px 0 15px;
    margin: 0;
    cursor: pointer;
}
.resume, .bottom-nav .resume{
    color: blue;
}
.cl{
    width: 80%;
    margin: 50px auto 30px auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.left-side{
    width: 30%;
    border-radius: 0 20px 20px 20px;
    background: aqua;
    padding: 20px;
}
.right-side{
    width: 60%;
    border-radius: 20px 20px 0 20px;
    background: rgb(236, 149, 149);
    padding: 20px;
}
.br{
    width: 10%;
    height: 20px;
    background: red;
}
.cv{
    width: 80%;
    margin: 30px auto 50px auto;
    height: 100vh;
    background: green;
    border-radius: 20px;
}















































.bottom-nav{
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    border: none;
    outline: none;
    background: rgba(128, 128, 128, 0.246);
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.26);
}
.bottom-nav ul{
    display: flex;
    font-size: 20px;
}
.bottom-nav ul li a{
    color: #000;
}
footer{
    background-image: url('../../pictures/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgba(255, 255, 255, 0.801);
    padding: 20px 20px 30px 20px;
}
.foot_container{
    display: flex;
    justify-content: space-between;
}
.right p{
    text-align: right;
}

.footer_icon ul{
    display: flex;
    justify-content: center;
}
.footer_icon ul li{
    list-style-type: none;
}
.footer_icon ul li a i{
    font-size: 30px;
}